@page
@model IndexModel
@{
    ViewData["Title"] = "GreedBlocker";
}

<body>
    <div class="container body-content">
        <center>
            <div class="row">
                <img src="http://www.infostructures.com/wordpress/wp-content/uploads/2016/02/Google.G..jpg" width="300px" height="300px">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr">
                    </div>
                </form>
                <button type="button" class="btn btn-primary btn-block">Search</button>
            </div>
        </center>
    </div>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js?v=EWaMeWsJBYWmL2g_KkgXZQ5nPe-a3Ichp0LEgzXczKo"></script>
</body>
